#fh5co-hero .flexslider .slider-text > .slider-text-inner .desc{
    background : rgba(134,56,4, 0.9);
}

.post-entry .desc{
    background : rgba(134,56,4, 0.9);
}

.fh5co-logo img{
    max-width: 100%
}