#fh5co-hero .flexslider .slider-text > .slider-text-inner .desc{
    background : rgba(134,56,4, 0.9);
}

.post-entry .desc{
    background : rgba(134,56,4, 0.9);
}

.fh5co-logo img{
    max-width: 100%
}

.clientSpace{
    border: 2px black solid;
    padding-top: 20px;
    padding-bottom: 20px;
}

.clientSpace:hover{
    background: blue;
}
